<div class="saving-indicator {{#if isSaving}}saving-indicator--active{{/if}}">
	Saving
</div>
<div class="tool-container">
	<div class="tool {{#isEq activeTool 0}}tool--selected{{/isEq}}" id="tool-pencil">
		<img class="tool-icon" src={{icons.pencil}} />
	</div>
	<div class="tool {{#isEq activeTool 1}}tool--selected{{/isEq}}" id="tool-eraser">
		<img class="tool-icon" src={{icons.eraser}} />
	</div>
</div>
<div class="palette-container">
	<div id="black" class="palette-colour palette-colour--selected palette-colour--black"></div>
	<div id="red" class="palette-colour palette-colour--red"></div>
	<div id="green" class="palette-colour palette-colour--green"></div>
	<div id="blue" class="palette-colour palette-colour--blue"></div>
</div>
<button id="save" class="btn btn--outline btn--pill drawing-done-button">Done</button>
<canvas class="drawing-canvas" id="stage"></canvas>