<div class="saving-indicator">
	Saving
</div>
<div class="palette-container">
	<div id="black" class="palette-colour palette-colour--selected palette-colour--black"></div>
	<div id="red" class="palette-colour palette-colour--red"></div>
	<div id="green" class="palette-colour palette-colour--green"></div>
	<div id="blue" class="palette-colour palette-colour--blue"></div>
</div>
<button id="save" class="btn btn--outline drawing-done-button">Done</button>
<canvas class="drawing-canvas" id="stage"></canvas>