/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body,html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Muli', sans-serif;
	position:relative;
	background-color: fuchsia;
}

button:focus,
input:focus { 
	outline: none;
}

/*button reset*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

:root{
	--drawing-backgound: #FFFFFC;
	--button-green: #26AF3F;
	--midnight-blue: #26256D;
	--palette-black: #343030;
	--palette-red: #D9392E;
	--palette-green: #59D92E;
	--palette-blue: #2E7DD9;
}

.drawing-canvas {
	background-color: var(--drawing-backgound);
	touch-action: none;
	width: 100vw;
	height: 100vh;
}

.palette-container {
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.palette-colour {
  cursor: pointer;
	pointer-events: auto;
	transform: scale(1);
	width: 2.1875rem;
	height: 2.1875rem;
	border-radius: 100%;
	margin: 0 .5rem;
	transition: transform 120ms ease-in;
}

.palette-colour:focus,
.palette-colour:hover {
	transform: scale(1.15);
}

.palette-colour:active {
	transform: scale(.8);
}

.palette-colour--black {
	background-color: var(--palette-black);
}

.palette-colour--red {
	background-color: var(--palette-red);
}

.palette-colour--green {
	background-color: var(--palette-green);
}

.palette-colour--blue {
	background-color: var(--palette-blue);
}

.btn {
	background-color: var(--button-green);
	color: rgba(255,255,255, .9);
	padding: .5rem 1.5rem;
	border-radius: 9000px;
	font-weight: 700;
	font-size: 1.125rem;
	text-decoration: none;
}

.btn--outline {
	background-color: transparent;
	color: var(--button-green);
	border: solid 1px var(--button-green);
}

.btn--outline:focus,
.btn--outline:hover {
	background-color: var(--button-green);
	color: rgba(255,255,255, .9);
}

.drawing-done-button {
	position:absolute; 
	bottom: 1rem; 
	right: 1rem;
}

.saving-indicator {
	transition: opacity 150ms;
	pointer-events: none;
	position: absolute;
	right: 1rem;
	top: 1rem;
	opacity: 0;
}

.error-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 2rem;
	padding-bottom: 4rem;
	background: var(--drawing-backgound);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.error-emoji {
	font-size: 110pt;
}

.error-title {
	text-align: center;
	font-size: 36pt;
	font-weight: 700;
	margin-bottom: 2rem;
	color: var(--midnight-blue);
}